body {
  background: pink;
}

button {
  height: 25px;
  width: 100px;
  border: 3px solid black;
  background-color: gray;
  color: white;
}

.note-container {

}
.note {
  height:300px;
  width: 300px;
  background-color: yellow;
  margin: 5px;
  float: left;
}

/*CSS styling goes here*/
